footer {
    background-color: #383838;
}

.footer_wrapper {
    max-width: 1440px;
    color: white;
    padding: 30px 15px;
    height: 250px;
    margin: 0 auto;
    @include tablet {
        height: 180px;
    }

    .footer_list {
        margin-top:20px;
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    .footer__item {
        font-family: $text_font;
        margin-top: 10px;

        .light_icon {
            margin-right:10px;
            display: inline-block;
            width: 20px;
            text-align: center;
        }
    }
}