// BADGES "NOUVEAUX" DANS LES CARTES
.card_new_badge {
    position: absolute;
    top:15px;
    right:15px;
    background-color: $tertiary_color;
    color: rgb(9, 128, 9);
    font-weight: 500;
    font-size: 0.875em;
    padding: 8px 13px;
    border-radius: 3px;
    font-family: $text_font;
 }