// BOUTONS VIOLETS DU SITE
.btn{
    font-size: 1em;
    border-radius: 70px;
    padding: 15px 20px;
    border: none;
    box-sizing: border-box;
    background:$gradient_color;
    color: #ffffffd1;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 12px 2px rgba(53, 53, 53, 0.3);
    transition: all 0.3s;

    &:hover{
        padding: 15px 22px;
        background: $gradient_color_hover;
        box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.5);
    }
}