.choice {
    width: 100%;
    padding:15px;
    border-radius: 20px;
    border: none;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 5px 2px rgba(53, 53, 53, 0.1);
    cursor: pointer;
    overflow: hidden;

    @include tablet {
        width:48%;
        margin: 0;
    }
    @include desktop {
        width:32%;
    }
    
    .choice_title,
    .choice_description {
        width: 75%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .choice_price {
        position: absolute;
        bottom: 14px;
        right: 20px;
        font-weight: bold;
        font-family: $text_font;
        font-size:0.875em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: 0.5s;
    }
}