// BOUTONS "J'AIME" EN FORME DE COEUR AVEC L'EFFET HOVER
.like {
    font-size: 30px;
    margin-right: 10px;
    opacity:0.5;
    cursor: pointer;
  }
  
.like:hover,
.like:active,
.like:visited {
    background: $gradient_color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    opacity: 1;
    transition: opacity ease 1s;
  }


