$primary_color: #9356DC; 
$primary_light_color: #9256dc21; 
$secondary_color: #FF79DA; 
$tertiary_color: #99E2D0; 
$grey_light_color:#f5f5f5;
$grey_dark_color:#e8e8e8;
$icons_color: #535353;
$gradient_color: linear-gradient(180deg, rgb(255,121,218),rgb(147,86,220));
$gradient_color_hover: linear-gradient(180deg, rgb(245, 147, 217),rgb(159, 112, 218));

$title_font: 'Shrikhand', cursive;
$text_font: 'Roboto', cursive;
